@font-face {
    font-family: sharetechRegular;
    src: url(sharetech_regular.ttf);
}
body {
    font-family: sharetechRegular;
    text-align: center;
}

.title {
    font-size: 100px;
}
.load  {
    height: 70px;
    width: auto;
}

.hide {
    display: none;
}
